.recent
	background-color: $bgPrimary
	&__title
		text-align: center
		margin-bottom: 50px

.works
	display: grid
	grid-gap: 1.5vmax
	&__row
		display: grid
		grid-gap: 1.5vmax
		grid-template-columns: repeat(auto-fit, minmax(30%, 1fr))
		grid-auto-rows: 185px

		+portrait
			grid-auto-rows: 15vh
		+r(768)
			grid-template-columns: repeat(2, 1fr)
		+r(700)
			grid-template-columns: 1fr

.work
	position: relative
	background-color: $bgThird
	grid-row: span 2
	
	&__bg
		+bg-box
	&__pic
		+bg-pic
	&_big
		grid-row: span 4
		grid-column: span 2
		+r(700)
				grid-column: span 1
				grid-row: span 2