include mixins/mixin
doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		meta(name="description" content="Ксения Чебиряк. Фотограф удивительных людей")

		title Ксения Чебиряк. Фотограф удивительных людей
		link(rel='icon' href='./favicon.ico' type='image/x-icon')
		link(rel="stylesheet" type="text/css" href="static/css/normalize.css")
		link(rel="stylesheet" type="text/css" href="static/css/styles.css")
	body
		.container
			header.hero.hero_other
				.hero__body
					.hero__top
						.wrapper
							.header
								.header__menu
									nav.menu
										ul.menu__list
											li.menu__item
												a.menu__link(href="./") На главную
											
											
											
								.header_logo
									a.logo(href="./")
										.logo__icon
											+webp('logo__pic', 'logo', 'png', 'logo')
								.header__social(data-da=('header__menu, 767, last'))
									.social
										ul.social__list
											li.social__item
												a.social__link(href="https://vk.com/chebiryak" rel="noopener" target="_blank")
													span.hidden social
													+svg('vk', 'social__icon')
											li.social__item
												a.social__link(href="https://web.facebook.com/chebiryakk" rel="noopener" target="_blank")
													span.hidden social
													+svg('facebook', 'social__icon')
											li.social__item
												a.social__link(href="https://wa.me/79261764569" rel="noopener" target="_blank")
													span.hidden social
													+svg('twitter', 'social__icon')
											li.social__item
												a.social__link(href="https://www.instagram.com/_kseniya_che_/" rel="noopener" target="_blank")
													span.hidden social
													+svg('instagram', 'social__icon') 
								.burger 
					
			main.content.content__other
				section.recent.recent_other.section.section__other
					.wrapper
						.recent__body
							h2.title.title-section.recent__title.collection__page_title &#8258; 
							.recent__works.works
								
									
		footer.footer
				.footer__bg
					+webp('footer__pic', 'img_4', 'png', 'footer background')
				.wrapper
					.footer__body
						.footer__top
						.footer__content
							h2.title.footer__title Связаться со мной
							a.button.footer__button.modal__link(href='#') Открыть
						.footer__bottom
							.footer__social
								.social
									ul.social__list
										li.social__item
											a.social__link(href="https://vk.com/chebiryak" rel="noopener" target="_blank")
												span.hidden social
												+svg('vk', 'social__icon')
										li.social__item
											a.social__link(href="https://web.facebook.com/chebiryakk" rel="noopener" target="_blank")
												span.hidden social
												+svg('facebook', 'social__icon')
										li.social__item
											a.social__link(href="https://wa.me/79261764569" rel="noopener" target="_blank")
												span.hidden social
												+svg('twitter', 'social__icon')
										li.social__item
											a.social__link(href="https://www.instagram.com/_kseniya_che_/" rel="noopener" target="_blank")
												span.hidden social
												+svg('instagram', 'social__icon') 

		.modal#modal
			.modal__overlay(data-close="true")
					.modal__window
						span.modal__close(data-close="true") &times;
						.modal__body
							.modal__item.modal__content
								h2.modal__title.title Связаться
								form.form
									.form__field
										input.form__input#formName(type="text" placeholder="Ваше имя" required)
										label.hidden(for="formName") Name
									.form__field
										input.form__input#formEmail(type="email" placeholder="Ваш Email" required)
										label.hidden(for="formEmail") Email
									.form__field
										input.form__input#formPhone(type="tel" placeholder="Ваш телефон" required)
										label.hidden(for="formPhone") Phone
									.form__submit
										button.form__button Отправить
											span.form__button_decor
							
							.modal__decor.modal__item
								.modal__bg
									+webp('modal__pic', 'card-img_2', 'png', 'card')
		script(src="static/js/other.js")
		script(src="static/js/main.js")
		script(src="static/js/adapt.js")
		script(src="static/js/collection.js" type="module")
		script(src="static/js/modal.js") 
		