include mixins/mixin
doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		title Ксения Чебиряк. Фотограф удивительных людей
		link(rel='icon' href='./favicon.ico' type='image/x-icon')
		link(rel="stylesheet" type="text/css" href="static/css/normalize.css")
		link(rel="stylesheet" type="text/css" href="static/css/styles.css")
	body
		.container
			header.hero.hero_other
				.hero__body
					.hero__top
						.wrapper
							.header
								.header__menu
									nav.menu
										ul.menu__list
											li.menu__item
												a.menu__link(href="./") На главную
											li.menu__item
												a.menu__link(href="./") Контакты
											
											
								.header_logo
									a.logo(href="./")
										.logo__icon
											+webp('logo__pic', 'logo', 'png', 'logo')
								.header__social(data-da=('header__menu, 767, last'))
									.social
										ul.social__list
											li.social__item
												a.social__link(href="https://vk.com/chebiryak" target="_blank")
													+svg('behance', 'social__icon')
											li.social__item
												a.social__link(href="https://web.facebook.com/chebiryakk" target="_blank")
													+svg('facebook', 'social__icon')
											li.social__item
												a.social__link(href="https://wa.me/79261764569" target="_blank")
													+svg('twitter', 'social__icon')
											li.social__item
												a.social__link(href="https://www.instagram.com/_kseniya_che_/" target="_blank")
													+svg('instagram', 'social__icon') 
								.burger 
					
			main.content.content__other
				section.recent.recent_other.section.section__other
					.wrapper
						.recent__body
							h2.title.title-section.recent__title Последние работы
							.recent__works.works
								
									
		footer.footer
				.footer__bg
					+webp('footer__pic', 'img_4', 'png', 'footer background')
				.wrapper
					.footer__body
						.footer__top
						.footer__content
							h2.title.footer__title Связаться со мной
							a.button.footer__button(href='#') Открыть
						.footer__bottom
							.footer__social
								.social
									ul.social__list
										li.social__item
											a.social__link(href="https://vk.com/chebiryak" target="_blank")
												+svg('behance', 'social__icon')
										li.social__item
											a.social__link(href="https://web.facebook.com/chebiryakk" target="_blank")
												+svg('facebook', 'social__icon')
										li.social__item
											a.social__link(href="https://wa.me/79261764569" target="_blank")
												+svg('twitter', 'social__icon')
										li.social__item
											a.social__link(href="https://www.instagram.com/_kseniya_che_/" target="_blank")
												+svg('instagram', 'social__icon') 
		script(src="static/js/other.js")
		script(src="static/js/main.js")
		script(src="static/js/adapt.js")
		script(src="static/js/collection.js" type="module")
		