include mixins/mixin
doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		title Ксения Чебиряк. Фотограф удивительных людей
		link(rel="stylesheet" type="text/css" href="static/css/normalize.css")
		link(rel="stylesheet" type="text/css" href="static/css/libs/swiper/swiper.min.css")
		link(rel="stylesheet" type="text/css" href="static/css/styles.css")
	body
		.container
			header.hero
				
				.hero__body
					.hero__top
						.wrapper
							.header
								.header__menu
									nav.menu
										ul.menu__list
											li.menu__item
												a.menu__link(href="./collection.html#art") Art
											li.menu__item
												a.menu__link(href="./collection.html#business") Business
											li.menu__item
												a.menu__link(href="./collection.html#fashion") Fashion
								.header_logo
									a.logo(href="./")
										.logo__icon
											+webp('logo__pic', 'logo', 'png', 'logo')
								.header__social(data-da=('header__menu, 767, last'))
									.social
										ul.social__list
											li.social__item
												a.social__link(href="#")
													+svg('behance', 'social__icon')
											li.social__item
												a.social__link(href="#")
													+svg('facebook', 'social__icon')
											li.social__item
												a.social__link(href="#")
													+svg('twitter', 'social__icon')
											li.social__item
												a.social__link(href="#")
													+svg('instagram', 'social__icon') 
								.burger 
					.hero__content
						.hero__text

					.hero__bottom


					
			main.content.content__other
				section.gallery
					.slider
					.gallery__exit
						
		footer.footer
				.footer__bg
					+webp('footer__pic', 'img_4', 'png', 'footer background')
				.wrapper
					.footer__body
						.footer__top
						.footer__content
							h2.title.footer__title Связаться со мной
							a.button.footer__button(href='#') escribidme
						.footer__bottom
							.footer__social
								.social
									a.social__item(href="#" target="_blank")
										+svg('behance', 'social__icon')
									a.social__item(href="#" target="_blank")
										+svg('facebook', 'social__icon')
									a.social__item(href="#" target="_blank")
										+svg('twitter', 'social__icon')
									a.social__item(href="#" target="_blank")
										+svg('instagram', 'social__icon')
		script(src="static/js/main.js") 
		script(src="static/js/adapt.js")
		script(src="static/js/slider.js" type="module") 