include mixins/mixin
doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		title Ксения Чебиряк. Фотограф удивительных людей
		link(rel='icon' href='./favicon.ico' type='image/x-icon')
		link(rel="stylesheet" type="text/css" href="static/css/normalize.css")
		link(rel="stylesheet" type="text/css" href="static/css/styles.css")
	body
		.container
			header.hero
				.hero__bg
					+webp('hero__pic', 'alena-14', 'png', 'background image')
				.hero__body
					.hero__top
						.wrapper
							.header
								.header__menu
									nav.menu
										ul.menu__list
											li.menu__item
												a.menu__link(href="./collection.html#art") Art
											li.menu__item
												a.menu__link(href="./collection.html#business") Business
											li.menu__item
												a.menu__link(href="./collection.html#fashion") Fashion
								.header_logo
									a.logo(href="./")
										.logo__icon
											+webp('logo__pic', 'logo', 'png', 'logo')
								.header__social(data-da=('header__menu, 767, last'))
									.social
										ul.social__list
											li.social__item
												a.social__link(href="https://vk.com/chebiryak" target="_blank")
													+svg('behance', 'social__icon')
											li.social__item
												a.social__link(href="https://web.facebook.com/chebiryakk" target="_blank")
													+svg('facebook', 'social__icon')
											li.social__item
												a.social__link(href="https://wa.me/79261764569" target="_blank")
													+svg('twitter', 'social__icon')
											li.social__item
												a.social__link(href="https://www.instagram.com/_kseniya_che_/" target="_blank")
													+svg('instagram', 'social__icon') 
								.burger 
					
					.hero__content
						.hero__text
							h1.title.hero__title Ксения Чебиряк
							p.subtitle.hero__subtitle Фотограф
						a.hero__button.button(href="#") Открыть 

					.hero__bottom




			main.content
				section.recent.section
					.wrapper
						.recent__body
							h2.title.title-section.recent__title Последние работы
							.recent__works.works
								.works__row
									a.work.work_big(href="./gallery.html#business/tracy")
										.work__bg
											+webp('work__pic', 'tracy-4', 'jpg', 'work pic')
										.work__description
											span.work__name Tracy Megano - Певица
									a.work(href="./gallery.html#art/art")
										.work__bg
											+webp('work__pic', 'art-9', 'jpg', 'work pic')
										.work__description
											span.work__name In other space
									a.work(href="./gallery.html#fashion/qris")
										.work__bg
											+webp('work__pic', 'qris-3', 'jpg', 'work pic')
										.work__description
											span.work__name qari qris. София
								.works__row
									a.work.work_big(href="./gallery.html#business/south")
										.work__bg
											+webp('work__pic', 'south-2', 'png', 'work pic')
										.work__description
											span.work__name Алёна Вязёнкина - Soul Cats
				section.collections.section
					.collections__body
						.wrapper
							.collection
								.collection__decor.collection__item
									.collection__bg
										+webp('collection__pic', 'painting-1', 'jpg', 'collection background')
								.collection__descr.collection__item
									h3.title.title-section.collection__title Art
									.collection__txt
										p.collection__paragraph They were six beautiful children but the youngest was the prettiest of them all. Her skin was as clear and delicate as a rose-leaf and her eyes as blue as the deepest sea. But like all the others she had no feet and her body ended in a fish’s tail.
									a.button.collection__button(href="./collection.html#art") more
							.collection
								.collection__decor.collection__item
									.collection__bg
										+webp('collection__pic', 'olga-8', 'png', 'collection background')
								.collection__descr.collection__item
									h3.title.title-section.collection__title Business
									.collection__txt
										p.collection__paragraph And racism will be dead, for variety will then be the great fact of Humanity, and not uniformity. Mother Earth will finally have given birth not to merely a Terrestrian, but to a Galactic Empire
									a.button.collection__button(href="./collection.html#business") more 
							.collection
								.collection__decor.collection__item
									.collection__bg
										+webp('collection__pic', 'shop-3', 'jpg', 'collection background')
								.collection__descr.collection__item
									h3.title.title-section.collection__title Fashion
									.collection__txt
										p.collection__paragraph 'Yes, we went to school in the sea, though you mayn't believe it—' 'I never said I didn't!' interrupted Alice. 'You did,' said the Mock Turtle. 'Hold your tongue!' added the Gryphon, before Alice could speak again.
									a.button.collection__button(href="./collection.html#fashion") more 


		footer.footer
				.footer__bg
					+webp('footer__pic', 'img_4', 'png', 'footer background')
				.wrapper
					.footer__body
						.footer__top
						.footer__content
							h2.title.footer__title Связаться со мной
							a.button.footer__button(href='#') Открыть
						.footer__bottom
							.footer__social
								.social
									ul.social__list
										li.social__item
											a.social__link(href="https://vk.com/chebiryak" target="_blank")
												+svg('behance', 'social__icon')
										li.social__item
											a.social__link(href="https://web.facebook.com/chebiryakk" target="_blank")
												+svg('facebook', 'social__icon')
										li.social__item
											a.social__link(href="https://wa.me/79261764569" target="_blank")
												+svg('twitter', 'social__icon')
										li.social__item
											a.social__link(href="https://www.instagram.com/_kseniya_che_/" target="_blank")
												+svg('instagram', 'social__icon') 
		script(src="static/js/main.js") 
		script(src="static/js/adapt.js")