include mixins/mixin
doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		title Document
		link(rel="stylesheet" type="text/css" href="static/css/normalize.css")
		link(rel="stylesheet" type="text/css" href="static/css/libs/swiper/swiper.min.css")
			
		link(rel="stylesheet" type="text/css" href="static/css/styles.css")
	body
		.container
			header.header
				.header__bg
					+webp('header__pic', 'bg', 'png', 'background image')
				.wrapper
					.header__body
						.header__top
							.header__menu
								nav.menu
									ul.menu__list
										li.menu__item
											a.menu__link(href="#") Home
										li.menu__item
											a.menu__link(href="#") Gallery
										li.menu__item
											a.menu__link(href="#") Contact
					 
							.header__logo
								a.logo(href='./')
									.logo__icon
										+webp('logo__pic', 'logo', 'png', 'logo')
							.header__social
								.social
									a.social__item(href="#" target="_blank")
										+svg('behance', 'social__icon')
									a.social__item(href="#" target="_blank")
										+svg('facebook', 'social__icon')
									a.social__item(href="#" target="_blank")
										+svg('twitter', 'social__icon')
									a.social__item(href="#" target="_blank")
										+svg('instagram', 'social__icon') 
						.header__content
							.header__text
								h1.header__title.title Free portfolio template
								span.header__subtitle for photographers
							a.button.header__button.modal-link(href="#modal") discover
						.hero__bottom
			.modal#modal
			.modal__overlay(data-close="true")
					.modal__window
						span.modal__close(data-close="true") &times
						.modal__body
							.modal__item.modal__content
								h2.modal__title.title contact us
								form.form
									.form__field
										input.form__input(type="text" placeholder="Your Name" required)
									.form__field
										input.form__input(type="email" placeholder="Your Email" required)
									.form__field
										input.form__input(type="tel" placeholder="Phone number" required)
									.form__submit
										button.form__button send it
											span.form__button_decor
							
							.modal__decor.modal__item
								.modal__bg
									+webp('modal__pic', 'card-img_2', 'png', 'card')
				

		script(src="static/js/modal.js") 
		script(src="static/js/main.js" type='module') 
		