.icon 
	display: inline-block
	width: 1em
	height: 1em
	fill: currentColor


.icon-behance
	font-size:(16/10)*1rem
	width:(27/16)*1em

.icon-facebook
	font-size:(18/10)*1rem
	width:(7/18)*1em

.icon-instagram
	font-size:(18/10)*1rem
	width:(18/18)*1em

.icon-logo
	font-size:(22/10)*1rem
	width:(24/22)*1em

.icon-twitter
	font-size:(16/10)*1rem
	width:(19/16)*1em

